{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "plugins": [
                    "styled-jsx-plugin-sass"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-decorators-legacy"
        ],
        [
            "module-resolver", {
                "root": ["."],
                "alias": {
                "styles": "./styles"
            },
            "cwd": "babelrc"
        }],
        [
            "wrap-in-js",
            {
            "extensions": ["css$", "scss$"]
            }
        ],
        [
            "transform-assets-import-to-string",
            {
                "baseDir": "static",
                "baseUri": "/"
            }
        ]
    ],
    "ignore": []
}